.form-invalid {
  position: absolute;
  display: block;
  width: 200px;
  left: 40px;
  bottom: -21px;
  color: red;
}

.form-invalid--year {
  display: block;
  width: 250px;
  left: 0;
  bottom: -32px;
  line-height: 16px;
}

input.ng-invalid.ng-touched {
  border-color: red;
}
